[2015-05-07 14:17] evanlucas opened #1 "Add aggregation exercise"

[2015-05-07 14:59] evanlucas commented on #1
Closed via 96c8fe49d2656efe744d8f278a9d82036c0c933e

[2015-05-07 14:59] #1 closed, assigned to nobody

[2015-05-28 14:11] carlgik4 opened #2 "remove solution has a issue"
learnyoumongo/exercises/remove/solution/solution.js

line 8 : _id: process.argv[2]

here should be :

_id: process.argv[3]

[2015-05-28 14:56] #2 closed, assigned to nobody

[2015-05-28 14:57] evanlucas commented on #2
Thanks for the report!

[2015-06-01 16:23] cjknowles opened #3 "Parrots collection?"
Hey --

I just tried this tutorial and hit a wall on exercise three, as I do not have a parrots collection?

I can see this is a fresh repo, sorry if I've jumped the gun!

[2015-06-01 16:36] evanlucas commented on #3
The parrots collection is created by the exercise

[2015-06-01 16:48] evanlucas commented on #3
I realized that the HINTS for the FIND problem could have been better. Went ahead and added additional info in 9def6d50f5e91b76123307d61a59efce6efc56d5.

[2015-06-01 17:03] cjknowles commented on #3
I've tried 'show dbs' from the mongo shell after running the exercise; but I cannot see the collection or database.

Also tried cheating and just running the solution and it just gave a blank [] as the result.

The problem must be my setup?

[2015-06-01 17:09] evanlucas commented on #3
Yea, the exercise deletes the collection on cleanup. After you connected via the mongo shell, did you run `use learnyoumongo`? After that, try `show collections`

[2015-06-01 17:09] evanlucas commented on #3
Also, how did you run the solution?

[2015-06-01 17:20] cjknowles commented on #3
I ran using 'node ... path to solution' and I think when I did this mongo created an empty learnyounode database.

I've just dropped that empty database and tried opening the exercise again, thinking that it may be blocking a fresh one being made; and then in a different window tried 'mongo, use learnyoumongo, show collections' and there is still no content.

[2015-06-01 18:55] evanlucas commented on #3
Yea, there won't be any content because it gets cleaned up after the exercise is done running.

[2015-06-01 18:55] evanlucas commented on #3
try using `learnyoumongo verify file` to verify the solution instead

[2015-06-02 19:49] cjknowles commented on #3
Alright, I can get it to work but I need to go back the run Exercise 1 MONGOD again.

If I go straight into `learnyoumongo` and select the `FIND` exercise, and then `learnyoumongo verify file` it fails, with an empty response from mongo and an error...

[code]

I know mongo is running as if I use `systemctl status mongod` I get status `Active: active (running)`.

But if I go back and run Exercise

[2015-06-02 19:51] evanlucas commented on #3
strange, the mongodb module should be bundled so I am assuming that the error is being thrown from the file that you ran against verify?

[2015-06-02 19:55] cjknowles commented on #3
I am verifying the solution like a good cheat...

~/.npm/learnyoumongo/1.1.4/package/exercises/find/solution/solution.js

[2015-06-03 01:11] betsydupuis opened #4 "db.close() would be helpful in the hints for find"

[2015-06-12 12:29] evanlucas commented on #4
Sorry for the confusion. I have added this to all related exercises.

Closed by ce3b2b715381240bcc0463a080fc3aa7b1e0624b

Thanks for opening the issue!

[2015-06-12 12:29] #4 closed, assigned to nobody

[2015-07-21 01:41] jessecogollo commented on #3
@mr-cjk did you run "npm install mongodb"?
other thing are you can paste the code in a gist.

[2015-07-28 00:56] SaintPeter opened #6 ""Update" section does not correctly verify solution"
I was excited when my solution to Update worked and I checked my solution against the recommended solution and realized I had an error in my code.  I went back and made changes to my code to make it even more wrong and nothing I did would cause the 'verify' solution to fail.

My bad code which should fail:

[code]

[2015-07-28 00:59] SaintPeter opened #7 "Add 'run' feature?"
Some of the automated workshops I've used  (like https://github.com/azat-co/expressworks) have a feature where you can "run" rather than "verify".  This can be helpful in producing and debugging code.  It would be especially helpful for this workshop since so much of the code is dependent on database state.

Here are the instructions from Expressworks:
 » To print these instructions again, run: ex

[2015-07-28 01:07] SaintPeter commented on #7
Correction:
It looks like you have a 'run' feature.
Please add it to the possibilities as part of the help.

[2015-07-28 01:07] SaintPeter commented on #6
the 'Remove' section does not correctly verify either.

[2015-07-30 13:07] evanlucas commented on #6
Confirmed. I will try and get this fixed as soon as I can.

[2015-07-30 13:09] #7 closed, assigned to nobody

[2015-07-30 13:09] evanlucas commented on #7
Fixed in 4d2be3d9a9dea90de0d5c3ae0aad9b9b4dd97807. Published in v1.1.9

Thanks!

[2015-08-12 14:19] EightArmCode commented on #3
I am having a lot of problems finishing these modules. It appears there is configuration/setup to be done every single time that is not clearly explained.

[2015-08-15 14:24] Mouvedia opened #9 "find exercice bug"
nvm

[2015-08-15 14:35] #9 closed, assigned to nobody

[2015-08-21 04:13] thanhacun opened #10 "There is no parrots collection in the learnyoumongo"
Challenge http://freecodecamp.com/challenges/waypoint-store-data-in-mongodb has an issue. Please describe how to reproduce it, and include links to screenshots if possible.

In lesson 3 of the learnyoumongo there is no parrots collection.

![image](https://cloud.githubusercontent.com/assets/7599781/9401185/adc718c6-47f5-11e5-8901-d4dcb20744ec.png)

[2015-08-21 16:14] ga7pilot opened #11 "Getting started?"
I don't think this is a "getting started" guide. It requires some understanding of mongodb, or at least databases in general. I made it past lesson 3, but I don't understand why and what is going on.

You might consider revising the description.

[2015-08-21 18:20] evanlucas commented on #6
Sorry for the delay. Both of those exercises have been fixed in v2.0.0. I did have to make some breaking changes though, so be sure to read the problem carefully :]

[2015-08-21 18:20] #6 closed, assigned to nobody

[2015-08-21 18:22] evanlucas commented on #10
The parrots collection is created when the exercise is verified and removed when the exercise is finished. I really need to add full `run` support where one could see what was actually inserted into the database though. Feel free to open a PR. Otherwise, I will get it done as soon as I can.

Thanks!

[2015-08-21 18:22] #10 closed, assigned to nobody

[2015-08-21 18:22] evanlucas commented on #3
@EightArmCode can you give me some more details on the issues you are having?

[2015-08-24 02:51] ghost opened #12 "Installation unsuccessful on OS X"
I've tried installing multiple times, both globally and locally, with and without `sudo`. The installation always hangs after these two lines of output:

[code]

Setup:
- OS X 10.10.5
- zsh 5.0.8 (x86_64-apple-darwin14.3.0)
- npm 2.14.0
- node 0.12.7

[2015-08-24 02:53] evanlucas commented on #12
I would suggest trying a couple things:
1. `npm cache clean` and then try to reinstall. You ought to install it globally.
2. You may want to try using either node v0.10 or the latest iojs.

[2015-08-24 03:14] ghost commented on #12
Installed iojs and problem solved! Thank you! (Btw, that was the fastest response in history)

[2015-08-24 03:14] #12 closed, assigned to nobody

[2015-08-25 09:37] zeffii opened #17 "Solution to `remove` doesn't pass the test"
Solution to `remove`  doesn't pass the test, I think it's referencing the update exercise. Even when pasting in the solution for the `remove` step, it Failed.

[code]

[2015-08-25 09:39] zeffii commented on #17
oh this was fixed but pushed after I installed `learnyoumongo`.   or the npm package isn't updated yet?

[2015-08-25 09:51] zeffii commented on #17
ok. this is my own misunderstanding.. i hadn't selected  that 'step' yet in the list.. it was still pointing at the previous challenge.

: /

[2015-08-25 09:51] #17 closed, assigned to nobody

[2015-09-20 22:40] nalexiou commented on #3
I am also having trouble with the FIND exercise.

I run this command: learnyoumongo run [solution.js] and get the following error:
....
/home/ubuntu/.nvm/v0.10.35/lib/node_modules/learnyoumongo/exercises/find/exercise.js:37
  db.collection('parrots').remove({}, function(err) {
     ^
TypeError: Cannot call method 'collection' of undefined
...

Am I supposed to create a solution.js file with the co

[2015-09-21 01:46] evanlucas commented on #3
Can you share the code you ran to get that error?

[2015-09-21 06:35] nalexiou commented on #3
Hi Evan,

I actually was able to figure it out. Basically, I had to run the command at the terminal like this:

learnyoumongo run solution.js  (once I got rid of the brackets from the solution.js filename, it worked!)

Maybe it would be helpful to note this somewhere.

-Nikolaos

ORIGINAL COMMENT.....
Yes, sure. Here is the code that I placed in solution.js:

[code]

[2015-09-23 06:43] SmileeYang commented on #3
Hi all, I'm new in Node.js and learning mongoDB just today morning, and here comes problem with exercise 3 also...
Following is my mongoFind.js

[code]

And I run: learnyoumongo verify mongoFind.js
but always got

[code]

Even I tried solution.js in ./learnyoumongo/exercises/find/solution/solution.js with learnyoumongo verify solution.js, always return above error message... Please help me! Thanks

[2015-09-23 10:37] rulanfuse commented on #3
It seems it's necessary to run "npm install mongodb" before doing exercise 3.

[2015-09-24 03:24] SmileeYang commented on #3
Hello @rulanfuse I've tried your suggestion and run npm install mongodb before verify Exercise 3 with my mongoFind.js but still got error message below

[code]

I think maybe was mongodb install path issue, I ran npm install mongodb and it goes to

[code]

Is it? And then I try again, but this time learnyoumongo return another error message...

[code]

Oh my god... Please help me...

[2015-09-28 14:33] Seryal85 commented on #3
I have same problem

[2015-10-05 05:04] prashcr opened #18 ""Find Limit" is a misleading exercise title"
I'm sorry if this comes off as nitpicky.

Limit has another, more common meaning in the context of MongoDB, and this could cause confusion.
I feel "Find Project" or "Find And Project" would be a clearer name for the exercise.

[2015-10-14 22:54] evanlucas commented on #18
Feel free to open a PR :]

[2015-10-14 22:55] evanlucas commented on #11
I'm not sure where it is noted that this is a getting started guide. Perhaps you could point me to it? Thanks!

[2015-10-19 09:12] cerealBoxx commented on #3
I have an issue that the exercises for 3 and 4 show me all green when I verify but they don't get marked as completed. Any idea why? My code:

var MongoClient = require("mongodb").MongoClient;
var port = process.env.PORT;
var ip   = process.env.IP;
MongoClient.connect("mongodb://cerealboxx-mongo2-2026867:27017"+"/learnyoumongo",function(error,db){
        if(!error){
         var parrotCollection

[2015-10-19 11:10] evanlucas commented on #18
v3.0.0 includes this change. Thanks!

[2015-10-19 11:10] #18 closed, assigned to nobody

[2015-10-31 23:06] ashtonian commented on #3
I have similar problem.

I've ran

[code]

and tried running

[code]

only to find

[code]

[2015-11-04 19:37] mhurwicz opened #20 "errors on install"
Wondering if the errors below indicate a problem?  (I'm doing this on Cloud 9.)

[code]

[2015-11-05 19:28] mhurwicz opened #21 "Cannot find module 'mongodb'"
I had some problems on install:
https://github.com/evanlucas/learnyoumongo/issues/20

But it seemed that mongo was available:

[code]

But now trying to execute this code:

[code]

I get the following:

[code]

[2015-11-05 19:29] evanlucas commented on #21
You'll need to `npm install mongodb`

[2015-11-06 01:38] mhurwicz commented on #21
Evan - Thanks for the reply. That seems to have worked.  For others who may run across this, on Cloud 9 I also got things working by editing package.JSON to add mongodb as a dependency:

[code]

and then using `npm link mongodb`

I based this solution  on this:
http://stackoverflow.com/questions/14226410/node-js-cannot-find-module-mongodb

[2015-11-09 17:56] bapinney commented on #3
I ran into this problem, too.  At first I presumed there was just some error in the js file I was trying to verify.  However, no matter what I commented out (even if I commented everything out and hand a blank file), the solution would still fail.  It made me realize that it's probably not my code.

I finally did what mr-cjk mentioned he did in his post, above.  I ran learnyoumongo again, selected

[2015-11-17 15:07] ddzieduch opened #22 "Blinking menu"
After run learnyoumongo i see blinking menu.
When close (CTRL + C) i get error:

OS X 10.6.8
npm 3.3.9
node 4.2.1
learnyoumongo 3.0.0

[2015-11-23 04:08] ghost commented on #3
I was having an issue with step 3 as well, until reading an answer on SO that db.close() needs to be inside a callback, like toArray. Posting link to SO here for others who may be stuck on this step.

https://stackoverflow.com/questions/31699962/simple-mongodb-query-find-item-age-10-learnyoumongo-find-function

[2015-12-02 07:38] tongrhj opened #23 "Process.argv hint for newbies"
I think it's always helpful when you first require use of the process.argv method to supply arguments to say something along the lines of:

[code]

This was something I forgot when I first started on learnyoumongo, and only knew how to resolve (by printing all the process.argv) because I'd done another nodeschool workshopper some time ago.

_This was cribbed from the tower of babel nodeschool._

[2015-12-11 14:14] gunrunners-paradise opened #24 "error in learn you mongo exercise 3"
I'm running from c9.IO, whenever I try to run the selected file with the command "learnyoumongo run file.js" I get the below error.

I tried playing around with the code and I tried it with a blank file, the result is always the same...

[code]

[2015-12-13 08:10] vtange commented on #24
Getting the same problem. Seems to be unable to access the collection
I can see the parrots collection in the mongo client though. However. using db.parrots.find() with learnyoumongo being the active db returns absolutely nothing.

[2015-12-15 03:16] evanlucas commented on #23
I would be more than happy to accept a pull request adding this

[2015-12-15 03:17] evanlucas commented on #22
hm, interesting. I'm not sure how supported Snow Leopard is on node v4+. I know node core's CI does not test it anymore. Have you tried using node v0.10?

[2015-12-15 03:18] evanlucas commented on #24
strange. Not really sure what the problem is here. As soon as I get some free cycles, I'll take a look and see if I can reproduce

[2015-12-15 03:19] evanlucas commented on #20
the mongodb package has native dependencies, but falls back to pure js ones if those fail to build. You should still be able to run it regardless though

[2015-12-15 03:20] evanlucas commented on #11
Closing due to inactivity. Please feel free to reopen if needed

[2015-12-15 03:20] #11 closed, assigned to nobody

[2015-12-17 08:30] alexkond commented on #24
Same problem!

[2015-12-18 22:41] atan77 commented on #3
I had a similar problem, but finally realised that the square brackets in the verify command weren't necessary.  Having come from learnyounode, I noticed the difference in verify commands and assumed that the square brackets were necessary.  It might be worth removing the square brackets from the instructions.

[2015-12-21 15:27] evanlucas commented on #23
Closed by https://github.com/evanlucas/learnyoumongo/pull/25

[2015-12-21 15:27] #23 closed, assigned to nobody

[2015-12-26 20:42] ddzieduch commented on #22
I had previously installed 0.10.21 version and the same problem has occured.
I thought that an update to the latest node.js version will solve the problem.

[2016-01-04 08:41] mileung commented on #24
I'm getting the same error.  Can someone follow up?

[2016-01-04 22:52] Maroo-b commented on #24
I faced some issue just run mongod server in another terminal:
 mongod --port 27017 --dbpath=./data --nojournal

then execute learnyoumongo run file.js.

[2016-01-04 22:55] Maroo-b commented on #3
For anyone having problem
"TypeError: Cannot read property 'collection' of undefined"

You have to start mongodb server in another terminal with this command:
mongod --port 27017 --dbpath=./data --nojournal

Then verify the file.

I hope this will help anyone.

[2016-01-05 11:37] ta3pks opened #26 "theres no learnyoumongo database so i cant do challenges after 2nd"
my first two steps are verified theres nothing missing but
theres no learnyoumongo database so i cant solve challenges after 2nd where can i get the database
im using ubuntu 15.10

[2016-01-05 12:06] evanlucas commented on #26
The records are inserted when you verify the exercise. This is done for simple cleanup

[2016-01-05 12:16] ta3pks commented on #26
si it doesnt work because the verify always returns empty array which does match needs

[2016-01-05 12:20] ta3pks commented on #26
![screenshot from 2016-01-05 15-18-56](https://cloud.githubusercontent.com/assets/9097437/12115011/b35ce74e-b3bf-11e5-98a2-6497aa6265b5.png)
heres my code and always returns an empty array

[2016-01-05 12:23] evanlucas commented on #26
hm, have you tried checking `e` to see if an error occurred?

[2016-01-05 12:25] ta3pks commented on #26
![screenshot from 2016-01-05 15-25-23](https://cloud.githubusercontent.com/assets/9097437/12115126/90c4c85e-b3c0-11e5-8826-a6d217933248.png)
result is exact the same

[2016-01-05 13:06] evanlucas commented on #26
What command are you using to run the file?

[2016-01-05 13:07] ta3pks commented on #26
`learnyoumongo verify myfile.js`

[2016-01-05 13:15] evanlucas commented on #26
And what version of node are you using? I am trying to reproduce now

[2016-01-05 13:17] ta3pks commented on #26
4.2.3

[2016-01-05 13:20] evanlucas commented on #26
sorry, last question (hopefully). What version of mongo are you using?

[2016-01-05 13:22] ta3pks commented on #26
:) 2.6.10

[2016-01-11 21:43] ta3pks commented on #26
any update ?

[2016-01-18 08:52] systimotic commented on #24
I'm getting the same error as well. If I run `mongod` myself (with options as shown above) I get an error about the server closing the connection.

Edit: Oops, my bad! Turns out that the problem was largely on my side. I did have to run `mongod` myself, which maybe should be stated more clearly in the exercise (unless you shouldn't have to and it's an error, then fixing it might be the better solu

[2016-01-18 14:31] evanlucas commented on #24
Yes, mongod must be running for all of the exercises

[2016-01-20 15:26] savokiss commented on #3
Hi all, I have the same problem and stucked in exercise 3.But then i realized it wasn't my fault.So I go to exercise 1 and do it again, then exercise 2 and then exercise 3 and it works!
May be it has some connections between them, and you have to run them continuously！

Note that `--nojournal` and `db.close()` are also important~

[2016-01-21 21:25] pyromaticx commented on #24
FWIW I noticed that when installing the npm mongodb package there is an error about the peer dependency `kerberos@0.0` I tried installing a current version but have not been able to get it to build properly

[2016-02-04 14:50] maulikdarji commented on #26
i am getting following error on `learnyounode FIND` exercise:

[code]

Here is my code:

[code]

`DB Version:2.6.11`

Why am i getting `Cannot read property 'Kerberos' of undefined`??

[2016-02-12 15:43] adcoelho commented on #26
@maulikdarji do you have the mongoose module installed? It seems that module has to do with having an older version of it installed.

[2016-02-16 09:59] mojoboss opened #30 "ERROR IN AGGREGATE EXERCISE"
This is my solution for the aggregate exercise, the problem is its giving this error-

`var size = process.argv[2];`
`var url = "mongodb://localhost:27017/learnyoumongo";`
`var mongo = require("mongodb").MongoClient;`
`mongo.connect(url, function(err, db){`
    `if(err) throw err;`
    `var collection = db.collection("prices");`
    `collection.aggregate({$match: {"size": size}}, {$group: {_id: "a

[2016-02-18 17:21] icodejs opened #31 "Update lesson fails, even with correct solution"
Hey,

While working on the update lesson, I wasn't able to get my code to pass, so I tried your solution and still had no luck.

I not sure if it has something to do with the versions of Node or Mongodb.

Let me know if this is enough information:

Mongodb version v3.2.1
Node v4.2.3

My solution: https://github.com/icodejs/nodeschool/blob/master/learnyoumongo/06-UPDATE/solution.js
Your solution: h

[2016-02-20 15:14] Bubbit commented on #31
I have the same problem:

Mongodb v2.1.7
Node v5.1.0

[2016-03-03 09:33] ghost opened #32 "Getting error while setting mongodb path on windows"
I'm jus getting started in mongodb.
While trying out do learnyoumongo connect tutorial I am trying to run this command
`mongod --port 27017 --dbpath=./data`
Here is the screenshot of the error that I am getting.
![2016-03-03 1](https://cloud.githubusercontent.com/assets/12221775/13490175/034f47ce-e151-11e5-88b4-79b0918cbaed.png)
My machine is windows 7 32 bit.
Please help.
Thanks in advance.

[2016-03-03 12:27] evanlucas commented on #32
That appears to be an issue with mongo itself. Not really sure what is going on there. Have you searched for the specific error you are getting?

[2016-03-04 16:24] ghost commented on #32
Yes. But no solution.
My system is 32 bit. That's why the problem appears. On 64 bit it doesn't happen.
Have you found any solution for 32 bit systems?

[2016-03-07 22:52] ThomastheBicyclist commented on #31
I have the same problem. I resorted to using the "correct solution" but it didn't pass.

Mongodb v2.6.11
Node v4.1.1

Error message:

[code]

[2016-03-07 23:05] ThomastheBicyclist commented on #24
I have what seems to be the same problem for exercise 3. I resorted to using the "correct solution" but it didn't pass.

Mongod is running.

Mongodb v2.6.11
Node v4.1.1

Error message:

[code]

[2016-03-16 15:16] eugenehiggins opened #33 "count exercise: no parrots collection"
My code is almost exactly like the solution code, but returns no documents. Going into the mongo console I ran `show collections`. The only collections were docs, system.indexes, and users, but no parrots. I restarted mongod in one terminal (mongod --port 27017 --dbpath=./data --nojournal), and mongo in the next terminal and parrots did show up.

If anyone else is having this issue you may need to

[2016-03-16 23:15] crispinha opened #34 "Exercise 5 console.log not returning anything."
All console.log calls in exercise 5 using `learnyoumongo run [filename]` don't return anything. This might be by design, but I can't debug anything using this.
I'm on OSX 10.11, using Node v5.6.0, Mongo v3.0.7 and Learnyoumongo v3.0.1
EDIT It's not a platform-specific thing, it also fails on Ubuntu 14.04.4 with Node v4.4.0, Mongo v2.4.9, and learnyoumongo v3.0.1

My code:

[code]

Output:

[code]

[2016-03-18 12:23] URobert commented on #3
The solution is already provided above by @nalexiou . However, for those running into:
"TypeError: Cannot read property 'collection' of undefined" here are some tips:

1)Make sure in another terminal MongoDb is running (see @Maroo-b 's answer)
2)Make sure you are trying to verify the right file name. I know this is very basic but hey, it happens to all of us every now and then. Uppercase or lowerc

[2016-03-19 12:07] mientje commented on #33
I'm working on the count exercise. My own soluction I think is correct, I see no errors but it just wont run. I even copied the solution code Evan Lucas provides in my js file and I still can't run it. EMs all over the place and each time I see something about 'db.collection('parrots').remove({}, function(err) {' blablabla. Remove? I did that exercise or am I not getting it?  All I know is fcc, I'

[2016-03-20 08:49] unValerio commented on #34
Same issue:
OSX 10.11.1, Node v0.12.7, Mongo v3.2.4, Learnyoumongo v3.0.1

[2016-03-22 00:24] crispinha commented on #34
Exercise 6 works, which makes me think that this is a bug, but E5 does use console.log for checking answers, so this might be by design. I'll have a look in the code and report back.
Part 2:
[This line](https://github.com/evanlucas/learnyoumongo/blob/7a739268f8dabe56e484b16d1e632344c7aff8b5/exercises/insert/exercise.js#L116) might be what's doing it, I'll check on an offline copy.
EDIT: Not by its

[2016-03-22 00:32] dvlpstrcrispin commented on #34
[This line](https://github.com/evanlucas/learnyoumongo/blob/7a739268f8dabe56e484b16d1e632344c7aff8b5/exercises/insert/exercise.js#L111) might be what's doing it, I'll check on an offline copy.

[2016-03-22 01:10] dvlpstrcrispin commented on #34
I'm trying out some alternatives to console log:

- console.warn() - no luck
- console.error() - nope
- console.dir() - nothing

[2016-03-22 01:29] dvlpstrcrispin commented on #34
It's not a platform-specific thing, it fails on Ubuntu 14.04.4 with Node v4.4.0, Mongo v2.4.9, and learnyoumongo v3.0.1

[2016-03-25 18:45] PREMPRAKASHSINGH opened #35 "learnyoumongo install error"
I am getting this warning :
npm WARN mongodb-core@1.2.31 requires a peer of kerberos@~0.0 but none was installed.

[2016-03-25 23:02] jbonigomes commented on #35
I am getting the same error here on cloud9 set up to work with node

[2016-03-26 01:06] evanlucas commented on #35
@PREMPRAKASHSINGH I am assuming you are using npm 3 to install the dependencies. By default, npm 3 does not install peer dependencies. This is a warning and not an error though, so it should still work.

@jbonigomes There are a few issues open regarding this package not working properly on cloud9. I honestly haven't had the time to look into what's going on with that though.

[2016-03-26 01:06] #35 closed, assigned to nobody

[2016-03-26 01:11] #21 closed, assigned to nobody

[2016-03-26 01:11] #20 closed, assigned to nobody

[2016-05-06 04:32] calandraz opened #37 "build errors"
Currently started (or tried) to start learnyoumongo in cloud9. Upon install, multiple error messages, however I was able to complete exercise one. (I was not able to verify that mongod had installed via mongod.exe or mongod --version---I felt the need to try both. I was able to see the version via learnyoumongo run [solution.js]. )

Exercise 2 however, nothing works. I cannot run the port , receiv

[2016-05-07 10:20] bumbeishvili commented on #3
I was having same problem:
`TypeError: Cannot read property 'collection' of undefined`

 @Maroo-b and @atan77 comments helped me.

so here is steps if anyone having this problem:

1) ensure you start mongodb on port 27017 with this command from first bash window:
    `mongod --port 27017 --dbpath=./data --nojournal`

2)  my `solution.js` looks likes this

[code]

3)  run this command from second b

[2016-05-09 22:41] thesackman opened #38 "Aggregate exercise - why use toArray ?"
This exercise challenged me a lot more than previous ones, and I'm trying to figure out what the advantage of using toArray is, as seen in the solution. My code (first block) passed fine, I just want to understand toArray's role in the solution (second block). Thanks.

[code]

[code]

[2016-05-13 01:07] JacksonBates commented on #37
I have had a similar problem. I am running it on cloud9 on a node workstation if this info helps?

[2016-05-13 01:15] calandraz commented on #37
Thanks for responding... I was actually also working through node workstation in cloud9. Eventually I was actually able to find some help via stack overflow and have moved on from learnyoumongo.

For any one else who may come across the same issues, the following helped me:
code:
mkdir data
$ echo 'mongod --bind_ip=$IP --dbpath=data --nojournal --rest "$@"' > mongod
$ chmod a+x mongod

To start th

[2016-05-16 04:47] domparry commented on #34
Same issue here on OSX 10.11.1

[2016-05-16 14:31] domparry commented on #34
I seem to have found something. The line:

exercise = comparestdout(exercise)

is missing from Exercise 5. It's just after the line:

exercise = execute(exercise)

in exercise 4. Once I add it, I get messages to the console....

[2016-05-16 15:39] domparry commented on #34
Update: So the above does allow me to see my console.log outputs, but it breaks the verify processor. Seems this exercise implements it's own processor as follows, which breaks Stdout somehow. I still can't figure out where yet:

exercise.addProcessor(function(mode, cb) {
  var orig
  this.submissionStdout.pipe(sub)
  var args = this.solutionArgs
  sub.on('data', function(chunk) {
    chunk = chun

[2016-05-16 16:30] manishupadhyay commented on #24
Yes, There is problem.
It seems it clears the DB. Because when i debugged directly into the DB using Robomongo. I found no documents in the DB.
Solution to problem insert the data manually and than try it.
Thanks
-Manish

[2016-05-18 23:20] manters2000 commented on #34
Having the same issue here, can't also get to work this problem here in my end.

[2016-05-19 11:52] evanlucas commented on #34
Yes, this exercise purposefully compares stdout of both your script and one executing the expected way. Closing as this is by design. (If you have a better way of doing this, I am all ears :])

[2016-05-19 11:52] #34 closed, assigned to nobody

[2016-05-20 11:50] evanlucas commented on #38
https://docs.mongodb.com/v3.0/reference/method/cursor.toArray/ has more info on that. Thanks!!!

[2016-05-20 11:50] #38 closed, assigned to nobody

[2016-06-05 05:44] ygautomo commented on #3
I have pass the exam 3, with the result.

But i've checked on mongo shell using this command

[code]

So actually there is no document in collection parrots?
Where should i check the data?

[2016-06-05 05:50] ygautomo commented on #24
@manishupadhyay

Sure there is the problem with the DB, somehow it's not created.
Actually I have pass the exam 3, with the result.

But i've checked on mongo shell using this command

[code]

So actually there is no document in collection parrots?
Where should i check the data?

[2016-06-07 12:35] evanlucas commented on #3
The data is removed after the exercise is completed. Thanks!

[2016-06-09 13:07] evanlucas commented on #24
@ThomastheBicyclist you would need to run `npm install mongodb` whenever you see that error

[2016-06-09 13:08] evanlucas commented on #24
@ygautomo The data is inserted and then removed when the process exists, so it will show 0 for the count after the exercise is run. That is by design (if I can even call it that?) :]

[2016-06-10 10:03] m4rrc0 opened #40 "Ex5: Insert. / Keep getting "AssertionError""
Ex 5 keeps failing with that error:

[code]

My code:

[code]

Is it a bug or am I doing something wrong??

Thanks

[2016-06-10 16:37] ygautomo commented on #24
@evanlucas Ok. thanks for the response. now i understand how it's works.

[2016-06-15 16:20] travishorn commented on #40
I think I am having the same issue. Very similar error and very similar code.

Error:

[code]

My code:

[code]

I will add that the document **does** appear to be inserted, but it looks like it is inserted **twice**, even if I just test the solution once.

[code]

[2016-06-17 15:55] ghsamm commented on #40
Same problem here

[2016-06-17 15:58] ghsamm commented on #40
When i type `learnyoumongo run program.js`, everything is fine.
The problem is that, apparently, `learnyoumongo verify program.js` runs twice!!!

[2016-06-20 23:02] mdavidmorton commented on #40
I had the same problem. The issue was that the callback wasn't returning the object I thought.

[code]

[2016-08-04 07:28] jfcisco opened #44 "Change documentation resources?"
I found it easier to consult the [Node.JS Driver Documentation](http://mongodb.github.io/node-mongodb-native/) rather than the documentation on MongoDB.com, which is what learnyoumongo currently uses.

[2016-08-05 20:19] JoeDoyle23 commented on #44
I think this makes total sense. In the PR, references to syntax now point to the Node.js driver, but I left the links which point to general MongoDB concepts for some topics.

[2016-08-07 01:47] evanlucas opened #46 "Call for maintainers"
Anyone interested in helping maintain this project? Unfortunately, I don't have the time to dedicate to it :]

[2016-08-08 17:10] #44 closed, assigned to nobody

[2016-08-08 17:11] JoeDoyle23 commented on #46
I'm willing to continue to help maintain this project. I think the only thing I don't have access to is publish rights on npm.

[2016-08-09 10:34] evanlucas commented on #46
@JoeDoyle23 what is your npm username?

[2016-08-09 14:58] JoeDoyle23 commented on #46
joedoyle23

[2016-08-12 12:24] evanlucas commented on #46
@JoeDoyle23 added publish rights. Thanks!

[2016-08-13 20:29] JoeDoyle23 commented on #22
Is this still happening when you run the latest version of this workshopper and a current version of Node?

[2016-08-13 20:47] #37 closed, assigned to nobody

[2016-08-13 20:52] ddzieduch commented on #22
Still not working. Same error message.

OS X 10.6.8
node 4.4.7
learnyoumongo 3.2.0

[2016-08-13 21:00] JoeDoyle23 commented on #22
Hmm, there's nothing specific about this workshopper that would cause the blinking. Do you see it with other workshoppers as well such as `learnyounode`?

[2016-08-13 21:06] ddzieduch commented on #22
Only in this one.

[2016-08-13 21:16] JoeDoyle23 commented on #22
Ok. I'll try to update this one to use the newer workshopper-adventure modules which might resolve the issue. I'll drop a note where when it's ready to test.

[2016-08-27 05:02] heshamadeldwedar commented on #24
i tried the following and it worked with me
delete the database directory and recreate it, (care this will delete every database you have in this directory )

[code]

after this i did forget to add `db.end();` after i am done so i add it and it work just fine after .

[2016-09-11 21:50] #26 closed, assigned to nobody

[2016-10-02 16:21] eliotn commented on #30
I would like to say that I got the exact same error just now.  Is the database being initialized properly?

[2016-10-12 14:02] orboan opened #48 "Only localhost?"
Hello,

this is just a simple question.
To run this workshop, mongodb must be installed in the localhost (same host as the workshop) or can be used a mongodb installation from another host? I'm planning to run this workshop in a node based container and use a mongodb docker image to run a container with mongodb in the same network.
Thanks.

[2016-10-12 14:18] JoeDoyle23 commented on #48
Currently, it is hard coded to have MongoDB running on localhost with the default port of 27017. I'd be up for adding a way to change that since you're probably not the first person to want to use an existing MongoDB instance, and probably not the last person to want to use Docker!

My initial thought would be to use an environment variable with the MongoDB connection string to override the defaul

[2016-10-12 14:37] orboan commented on #48
Yes, that should work as environment variables are easy to manage with Docker. If you could implement this, that would be fantastic.Thanks.

[2016-10-24 16:11] kristianjaeger commented on #3
I'm seeing the same issue:
"> show databases
admin          (empty)
learnyoumongo  (empty)
local          0.078GB
test           (empty)"

The entire learnyoumongo db is empty.  Is there a way to repopulate this db?  Thanks.

[2016-10-24 19:50] JoeDoyle23 commented on #3
Hi @kristianjaeger,

As mentioned above, the collection only exists when the exercise is being run, and deleted when it finishes.

Longer term, it might make sense to populate the database as a step when we test che connection in the first lesson, that way folks can use normal MongoDB tooling to inspect the database to see what they are working with.

[2016-10-24 20:11] kristianjaeger commented on #3
@JoeDoyle23 Yes, that would be great.  Right now, it's difficult to debug one's code as it stands or inspect the database itself.

[2016-11-16 23:11] JohnnyBizzel opened #49 "Can't get past the first hurdle"
bizzel:~/workspace $ learnyoumongo verify solution.js
Failed to load c++ bson extension, using pure JS version
/home/ubuntu/workspace/solution.js:28
mongo.connect(url, function(err, db) {
     ^

TypeError: Cannot read property 'connect' of undefined
    at Object.<anonymous> (/home/ubuntu/workspace/solution.js:28:6)
    at Module._compile (module.js:409:26)
    at Object.Module._extensions..js (m

[2016-11-24 11:40] cylim commented on #49
@JohnnyBizzel Hi, have you solved the issues?
This link might be useful for you: http://stackoverflow.com/a/24087898

[2016-11-28 19:18] evanlucas commented on #49
@JohnnyBizzel can you please paste the contents of solution.js? Thanks!

[2017-01-10 05:16] aguyinmontreal opened #52 "123"

[2017-01-10 23:30] #52 closed, assigned to nobody

[2017-01-29 20:42] arku opened #53 "Irrelevant messages in the instructions of the first two challenges"
The first two challenges don't require a user to write any code. So, the following messages don't make sense.

   » To verify your program, run: learnyoumongo verify [solution.js]

It would be better if the above messages are not shown for the first two challenges.

/cc @JoeDoyle23 Is it possible to hide messages based on the level of the challenge?

[2017-02-21 18:21] laura-barluzzi opened #54 "2/6 CONNECT instruction not working on Cloud9"
_********_on Cloud9 environment, so mongod becomes ./mongod_*******_

The exercise says to start mongo by running:  **`./mongod --port 27017 --dbpath=./data.`**

However, this gives the following parsing error on the console: **Error parsing command line:  Multiple occurrences of option "--dbpath"**

It worked on my C9 just running this instead: **`./mongod`**

_**See your suggestion:**_
![image](

[2017-02-27 22:10] devNoiseConsulting opened #55 "ReferenceError: done is not defined"
I'm trying to do the remove exercise on Cloud 9 for freeCodeCamp. For some reason the "done" function is not defined. Any idea what nam module did't get installed?

Versions:
Ubuntu 14.04.5 LTS
Node.js v4.7.3
NPM 2.15.11

[code]

[2017-03-06 16:32] oteomoura commented on #40
Had the same problem, @mdavidmorton solution worked fine for me :)
Thank you!

[2017-03-09 20:24] JoeDoyle23 commented on #54
It looks like there are a few things that we need to update/adjust for running on Cloud9. Thanks for the report. I'll take a look at all the changes we'll want to add to make sure this workshopper runs correctly there.

[2017-03-09 20:26] JoeDoyle23 commented on #53
I'll take a look and see. There might be a way to move the setup and validation into a step that makes more sense.

[2017-03-09 20:27] #46 closed, assigned to nobody

[2017-03-09 20:32] JoeDoyle23 commented on #32
A year late, but there is a solution for this.  The WiredTiger storage engine is the default now in MongoDB. BUT... it's not available in the 32bit Windows version.

The solution is to use the original `mmap` storage engine by adding `--storageEngine=mmapv1` to your mongod command.

`mongod --storageEngine=mmapv1 --port 27017 --dbpath=./data`

Seeing as how this is a year old, I'm going to close t

[2017-03-09 20:32] #32 closed, assigned to nobody

[2017-03-27 09:10] #40 closed, assigned to nobody

[2017-05-09 22:01] dospunk commented on #33
I'm having this issue with the Find exercise I think. I tried running a find that would get everything, just to test if things were working, but the array printed is blank.

[2017-05-12 19:53] kazzacarrot commented on #31
My solution didn't  pass the tests. I saw these comments and doubted the test. So, I pimped out my solution to log tinas record before and after I updated it. I saw her age change from 30 to 40 and when I ran verify, it worked!
I thought I would share my working solution.

[code]

[2017-05-12 20:35] kazzacarrot opened #56 "remove doesn't work"
After my solution didn't pass, and I couldn't debug my own,
I copied your solution into "re.js" and ran 'learnyoumongo run re.js` -> This is the output
[code]

[2017-05-12 22:31] kazzacarrot opened #57 "The aggregate exercise question has mark down that doesn't display well on the terminal"
It reads

[code]

On github, https://github.com/evanlucas/learnyoumongo/blob/master/exercises/aggregate/problem.md, it looks fine,
but my terminal isn't able to process it.

[2017-06-30 14:46] JeffreyJamesAttenti commented on #48
I would like this implemented as well. I run mongo in containers and can't use this workshop with my setup.

[2017-08-12 13:50] dliberat opened #59 "Insert module needs an additional hint"
The directions for this lesson are quite vague. The insert code was easy enough to write, but it took well over an hour to figure out that the solution expects you to log the JSON data to the console AND NOTHING ELSE.

An additional hint, something along the lines of "Note: Do not log anything to the console except the JSON object or your solution will not pass the verification." would be very muc

[2017-08-16 16:04] LianJilu commented on #54
How to install MongoDB in Cloud9. Even the first step I can't pass. The bash says mongod command is not found.

[2017-08-17 21:41] taylor-knapp commented on #59
I agree this module could use some clarification. I struggled with the following (much of which was  due to my own understanding):

1. The instructions lead me to believe that to insert into mongoDB I needed to use JSON.stringify(), which I've since read isn't true (I probably interpreted what was written incorrectly). Mongo receives objects themselves. The JSON.stringify() in this example is only

[2017-08-24 11:08] arhyth commented on #24
hi! i was googling for a hint on why
`var collectables = db.collection('<parrots>');`
returns
`Property 'collection' of object learnyoumongo is not a function`

and then i tried testing `db.parrots.find()` and alas, also got 0.

i have not yet worked out and run a solution file so i don't know why there's no more document in the parrots collection. though i was trying out individual statements/com

[2017-09-02 16:59] therealcode commented on #3
I haven't been able to get this to work - even using the solution.js provided here.

I can start the server just fine with --nojournal. When I shell into mongo and type:
`> db`
`test`
`> show collections`
`(blank)`

It seems there aren't any sessions running... I went back and completed exercise 1, verified, and 2, then verifired just fine. I am not able to get past 3 for the life of me...

*** I

[2017-09-07 17:41] Atomk commented on #30
**Note**: I understand this is an old issue, people still use this workshopper though, so...

@mojoboss This is not a bug, there is a lot going on in this lesson and it's easy to miss something, your solution has a couple of issues.

First, your `$group` object has a weird structure, you wrote (I formatted it to make it easier to see the difference):
[code]
but it should be:
[code]

Second, the pa

[2017-09-11 23:10] hwangm commented on #54
@LianJilu follow these instructions: https://community.c9.io/t/setting-up-mongodb/1717

@laura-barluzzi  I don't know if you're still having the problem but for Cloud9 the correct command removes the --dbpath option. When setting up mongodb for Cloud9, the dbpath is set in one of the steps to be /data in your workspace.

[2017-09-12 15:30] hwangm commented on #56
@kazzacarrot Here's my code if you want to compare - it passes run and verify. In the official MongoDB Node api notes, remove() has been deprecated in favor of deleteOne() or deleteMany().

[code]

[2017-10-28 04:46] midnitedev101 commented on #31
Doing the problem on cloud9 server. The solution for UPDATE which is to change the age of 'tinatime' to 40 is not working for me either. Here's my solution which seems to be correct but doesnt work:

`var mongo = require('mongodb').MongoClient;
var url = 'mongodb://localhost:27017/learnyoumongo';

mongo.connect(url, function(err, process.argv[2]) {
        var user = db.collection('users');

[2017-12-06 21:46] midori0507 commented on #3
Hey guys, the issue happen with latest version of mongodb, try to use another version, remove node_modules and
`npm install mongodb@2.2.33`

[2017-12-16 07:20] gustavoaca1997 opened #63 "Official solutions should be updated to MongoDB ^3.0.0"
For example, this is my _MongoDB ^3.0.0_ solution for _find_ exercise: https://paste.ubuntu.com/26192981/

[2017-12-16 07:22] gustavoaca1997 commented on #63
if someone can explain to me how, I can upload my solutions, but I don't know how to contribute

[2017-12-22 18:41] nachoperassi commented on #63
After 3 days stucked reading the find excercise issues, I found the solution thanks to you! Thankssss

[2017-12-26 15:42] nachoperassi opened #64 "Solutions updated to MongoDB +3.0.0!"
https://github.com/nachoperassi/learnyoumongo

[2018-01-02 19:33] sakthi17 commented on #40
Seems the object returned by the insertOne callback has changed in version 3.x.

It gives an object containing various properties .
Refer [http://mongodb.github.io/node-mongodb-native/3.0/api/Collection.html#~insertOneWriteOpCallback](url)

ops is the prop we are looking for. ops is an array of inserted doc objects.
        console.log( JSON.stringify( result.ops))
 where result is the object retu

[2018-01-05 03:11] DreamHazard commented on #33
I was able to fix this issue by deleting the files from the data folder and restarting mongod, then running `learnyoumongo verify` on my js file.

Not sure what was causing the issue but this resolved it.

Further verification can be gained by running `mongo learnyoumongo` and then `show collections` from the mongo prompt.

If you can see the collection via the mongo prompt but not from your js fi

[2018-01-26 10:59] snehal96 commented on #56
@hwangm, I copy pasted your code and it still shows the same error for me.
             Expected document to be removed [ { _id: '554a655c0639034860349353', name: 'blah' } ]

Mongodb version:
     
MongoDB shell version v3.6.2
git version: 489d177dbd0f0420a8ca04d39fd78d0a2c539420
OpenSSL version: OpenSSL 1.0.0-fips 29 Mar 2010
allocator: tcmalloc
modules: none
build environment:
    distmod: amazo

[2018-01-26 22:03] hwangm commented on #56
@snehal96 Have you looked at the solutions updated for mongodb 3+?
https://github.com/nachoperassi/learnyoumongo

Perhaps there was some change that makes my solution invalid now, I'm not sure since it was a while ago now.

[2018-01-30 02:14] mat-singh commented on #3
After MongoDB 3.0, the hints and solutions are now obsolete. The main difference is, you can't specify the db name along with url, but have to use the client's db function to associate. Ex:
    const mongo = require('mongodb').MongoClient
    mongo.connect(url, function(err, client) {
      const db = client.db('learnyoumongo');
      // now use db as you would normally use
    })
The link to solu

[2018-02-11 12:51] SQLMD commented on #3
Thank You! I've been going crazy trying to figure this out..

[2018-02-14 17:24] NinemillaKA commented on #3
when i run:  learnyoumongo verify find.js
i get this
/home/ubuntu/workspace/node_modules/mongodb/lib/mongo_client.js:814
          throw err;
          ^

TypeError: db.collection is not a function
    at mongo.connect (/home/ubuntu/workspace/find.js:8:32)
    at args.push (/home/ubuntu/workspace/node_modules/mongodb/lib/utils.js:404:72)
    at /home/ubuntu/workspace/node_modules/mongodb/lib/mongo

[2018-02-15 00:46] mat-singh commented on #3
NinemillaKA, did you use the client's db function to associate the database, before getting to the collection? The code is present two comments above....

[2018-02-17 12:59] xiezht opened #67 "Error in description of exercises"
**The description of the exercises is quite strange. It losts some information such as commands. Take ex.1 a example, its description shows as follows:**

   MONGOD
   Exercise 1 of 9

  Hey hey from . First, let's get MongoDB installed.
  You can download MongoDB from .

  We will also need to add it to your .

  You do not have to create any file with a solution in this exercise.
  Just run  whe

[2018-03-17 21:54] VAggrippino opened #68 "Find Project exercise: incorrect example and resource link"
In the Find Project exercise, we're supposed to return documents with only the name and age properties using the MongoDB Node.js Driver.

The example provided shows a projection argument to the collection's `find()` method and references the documentation for this method as a resource link. However, this is the method's implementation in Mongo Shell. The `find()` method in NodeJS doesn't have a pr

[2018-03-17 22:27] VAggrippino opened #69 "Find exercise: connect callback parameters have changed in current version"
In the current version of the Node.js MongoDB Driver, the second argument to the [`MongoClient.connect()`](http://mongodb.github.io/node-mongodb-native/3.0/api/MongoClient.html#.connect) callback has changed from a database object to the MongoClient instance.

There are a few changes that should be made to the hint section in order to make it consistent with the current API.

It should also be not

[2018-03-20 13:20] i0na-k opened #70 "Why is my solution to UPDATE not being verified and console.log is not working"
Here is my solution to the UPDATE exercise:
[code]

Also i am console.log url just for debugging and nothing is being outputted to the terminal - is console.log disabled by design? Thanks

[2018-03-20 13:39] i0na-k commented on #69
In order to continue using the db object we have to npm uninstall mongodb and then npm i mongodb@2.2.33

[2018-03-20 13:50] i0na-k commented on #70
It was because I was using the wrong url - I need to use:
`var url = 'mongodb://localhost:27017/' + process.argv[2];`

The instructions should ideally make us aware of this.

[2018-03-20 13:50] #70 closed, assigned to nobody

[2018-03-20 19:23] VAggrippino commented on #69
Why would we want to stick with an old version of MongoDB instead of updating the course material? It's a bad idea to teach people things that won't work with the current version of MongoDB. Besides that, I'm talking about a relatively small change to a single block of text, not an overhaul of the course.

[2018-03-20 21:22] i0na-k commented on #69
Because learnyoumongo is all about teaching the concepts of node which may be easier to do with more stable versions. Its just a suggestion

[2018-03-21 13:54] VAggrippino commented on #69
@ionakathryn What are you talking about? This is learnyou**mongo**, not learnyounode.

NPM packages, like [mongodb](https://www.npmjs.com/package/mongodb) which implemented this change, follow a [semantic versioning](https://docs.npmjs.com/getting-started/semantic-versioning) convention. *Stable* doesn't mean anything here. The change was made in a *major* release. However, it *is* stable in the l

[2018-03-21 14:05] i0na-k commented on #69
That was a typo. Yeah there are some issues in learnyoumongo, for example console.log doesn't seem to work for a few of the exercises. To be honest I have been running mongodb@2.2.33 and encountered no issues other than console.log not working, however think this is by design and believe it has nothing to do with versioning. Please let me know if this is not the case.

The exercises do not require

[2018-04-07 09:26] Candle309 commented on #69
@ionakathryn Maybe you are right and I really appreciate all your efforts to build this tutorial. However, I'm not pro like you. I'm just new to all this database thing. When I sucked up and even the solution cant help me I felt very upset. I even wanted to give up until I found this guy @VAggrippino 's helpful information and reference. Maybe changing couple lines of code is really easy for you w

[2018-04-07 09:27] wju-MSFT commented on #69
I bet it will not take you senior programmers more than 10 min to change the hint in accordance to the current mongodb version change. But it took a entire Friday night for us noob programmers to find a solution to it and it has nothing to do with coding skill at all. Thanks @VAggrippino  for pointing it out (thumbed up). Now we just have to struggle in between the newer version API and the older

[2018-04-07 09:51] VAggrippino commented on #69
Unfortunately, the last commit to this repository was almost a year ago. I don't think anyone with the ability to make a change is paying attention any more.

[2018-04-17 00:10] mahdiASC commented on #24
Was having same issue and this helped:
https://stackoverflow.com/questions/47662220/db-collection-is-not-a-function-when-using-mongoclient-v3-0/47662979

Essentially, the newer version of mongodb has changed how the .connect() method works. It no longer provides a db, but a Client object. You can extract the db from this object by referring to the db by name. For example:

[code]
Note how you clos

[2018-04-17 14:42] dliberat opened #72 "Still being maintained?"
It's been nearly a year without an update to this repo. If you need someone to help maintain it, I'd be happy to lend a hand.

[2018-04-18 06:49] Tailsxky commented on #3
@midori0507

Solved my issue, thanks!

[2018-04-18 21:02] ValygarS commented on #59
Same, after reading the hints I was thinking, I have to use JSON.stringify() to insert into DB and not for the output to console. Thanks for help

[2018-04-23 19:49] simonporter007 commented on #72
Just struggled my way through this batch of exercises too and had to dig into the API docs for most of it. Bit of guess work with some cryptic descriptions but I did make it. Would also be happy to help with some PR's to bring it up to current day.

[2018-11-28 20:39] Buildit978 commented on #21
Thank You

[2019-05-21 20:05] cyberwichi commented on #55
i have the same problem, any idea?

[2019-06-11 19:45] devNoiseConsulting commented on #55
Sorry at this point I don't remember what I did to get past this.